/*
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: #500909;
    color: #fff;
    overflow-x: hidden;
}
*/

.pixel-clip-border {
    clip-path:
        polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%,
            /* 기본 사각형 */
            0% 0%, 5% 0%, 5% 5%, 0% 5%,
            /* 좌상단 계단 */
            95% 0%, 100% 0%, 100% 5%, 95% 5%
            /* 우상단 계단 */
        );
    background: #000;
    /* 테두리 색 */
    padding: 5px;
    /* 테두리 두께 */
}

.welcome-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'PixelFont';
    /*font-weight: 600;*/
}

.welcome-header img {
    width: auto;
    height: 15vh;
    border-radius: 5%;
    margin-bottom: 0vh;
    margin-top: 4vh;
}

.welcome-header h1 {
    font-size: 3.5vh;
    margin-bottom: 0vh;
    text-align: center;
}

.welcome-header p {
    font-size: 1.5vh;
    white-space: pre-wrap;
    text-align: center;
    margin-bottom: 39vh;
}

.welcome-header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.welcome-header nav li {
    margin: 0 6vh;
}

.welcome-header nav a {
    font-size: 2.5vh;
    color: #fff;
    text-decoration: none;
    opacity: 0.5;
    transition: opacity 0.3s;
    text-align: center;
    letter-spacing: 0.05em;
}

.welcome-header nav a:hover {
    opacity: 1;
}

/*
.section {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    box-sizing: border-box;
    text-align: center;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.section h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.section p {
    max-width: 600px;
    line-height: 1.6;
    font-size: 1.1rem;
    opacity: 0.8;
}

.section.active {
    opacity: 1;
    transform: translateY(0);
}
*/