.learn-bg {
    font-family: 'Open Sans', sans-serif;
    background: #21181B;
    background-image: url('@/assets/images/pixel_adventure_time.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 60vh;
    background-attachment: fixed;
    color: #f5efce;
    overflow-x: hidden;
    min-height: 80vh;
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 10vh 20vh 10vh 20vh;
}

.title-box {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    /*margin: 1px;*/
    /* padding: 10px; */
    gap: 1vh;
    height: 9vh;
}

.category-menu {
    background: transparent;
    /* width: 50vh; */
    /* height: 100%; */
    font-family: 'PixelFont';
    font-size: 1.5vh;
    /* border: 1px solid #dee3eb; */
    border: 1px solid black;
    text-align: center;
}

.content-grid {
    background: transparent;
    /* width: 50vh; */
    /* height: 100%; */
    font-size: 40px;
    /* border: 1px solid #dee3eb; */
    border: 1px solid black;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    /*다른 요소들보다 앞에 배치*/
}

.dropdown-content a {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}