/*
.navlink:hover {
  background: color-mix(in srgb, var(--nl-hover-bg) 40%, transparent);
  color: var(--nl-hover-text);
}

.navlink {
  transition:
    background-color 120ms ease,
    color 120ms ease;

  padding-top: var(--mantine-spacing-sm);
  padding-bottom: var(--mantine-spacing-sm);
  margin-bottom: var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-md);

  &[data-active] {
    background: var(--nl-active-bg);
    color: var(--nl-active-text);
  }
}

.navlink-icon {
  transition: color 120ms ease;
}

.navlink:hover .navlink-icon {
  color: var(--nl-hover-text);
}

.navlink[data-active] .navlink-icon {
  color: var(--nl-active-text);
}
*/